/* styles.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo h1{
    font-size: 20px;
}

header {
    background-color: #333;
    color: #fff;
    height: 40px;
}

header .logo {
    display: inline-block;
}

header nav {
    display: inline-block;
    text-align: center;
    float: right;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background: url('./img/fff.gif') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 250px;
}

.hero .container {
    max-width: 600px;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.cta-buttons .btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 5px;
}

.cta-buttons .btn:hover {
    background-color: #0056b3;
}

.features {
    padding: 50px 0;
    text-align: center;
}

.features h2 {
    margin-bottom: 50px;
    font-size: 2em;
}

.feature-cards {
    display: flex;
    justify-content: space-around;
}

.feature-cards .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
    text-align: center;
}

.feature-cards .card img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.feature-cards .card h3 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.feature-cards .card p {
    font-size: 1em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}
