/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #007bff;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-top: 260px;
}

label {
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
    width: 100%;
}

input[type="text"],
input[type="date"],
select {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
}

button[type="button"],
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
}

button[type="button"]:hover,
button[type="submit"]:hover {
    background-color: #0056b3;
}

.remove-button {
    background-color: #dc3545;
}

.remove-button:hover {
    background-color: #c82333;
}

#message {
    margin-top: 20px;
    font-size: 1em;
}

.student-form {
    margin-top: 30px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.studentsContainer{}

.batchCreateForm{
    
}
